.card-text-quantity,
.recette,
.search-input,
.searchbar {
  color: #7a7a7a;
}
*,
header {
  margin: 0;
}
.time-overlay,
input:focus + .search_button svg path {
  background-color: #ffd15b;
}
* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Anton, sans-serif;
  background-color: #ededed;
}
header {
  background-image: url(../assets/header.png);
  background-size: cover;
  height: 80vh;
  width: 100vw;
  min-width: 100%;
}
h1 {
  width: 80%;
  font-weight: 800;
  color: #ffd15b;
  font-size: 2.75rem;
  font-family: Anton;
}
main {
  min-height: 40vh;
}
.form {
  width: 80vw;
  height: 5rem;
  border-radius: 11px;
}
.searchbar {
  font-size: 1rem;
}
.search_button svg path {
  color: #fff;
}
input:focus + .search_button {
  background-color: #ffd15b;
  color: #000;
  border: none;
}
.container-img {
  height: 40vh;
  position: relative;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
.time-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
}
.dropdown-content {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
}
.search-container,
.wrapper-category {
  position: relative;
}
.clear-icon {
  right: 5px !important;
  order: 1 !important;
  color: #7a7a7a !important;
}
.search-icon {
  order: 2 !important;
  right: 30px !important;
  color: #7a7a7a !important;
}
.custom-margin {
  margin-left: 2rem;
}
.wrapper-category {
  font-family: Manrope, sans-serif;
}
.item-list {
  background-color: #fff;
  border: none;
  padding: 0 !important;
  width: 100%;
  max-height: 200px;
  /* overflow: scroll; */
  overflow-y: auto;
}
.item-list::-webkit-scrollbar {
  display: none;
}

.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
.selected-tag-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 205px;
  min-height: 50px;
  padding: 0 10px;
  margin: 10px 0;
  background-color: #ffd15b;
  border-radius: 10px;
  border: none;
}
.tag_close-icon {
  font-size: 1.5rem;
  font-weight: 700;
}
.selected-tags {
  width: 100%;
  flex-direction: row;
}
.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}
.filters_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-tag {
  min-width: 195px;
  min-height: 56px;
}
.btn.dropdown-toggle::after {
  display: none;
}
.search-input,
.tag {
  width: 100%;
  max-width: 100%;
  padding-right: 30px;
}
.search-input {
  width: 100%;
  padding-right: 35px;
}
.clear-icon,
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #191919;
}
.category_title {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1b1b1b;
}
.recipes_error-message {
  width: auto;
  font-size: 1em;
}

.tags-search-input {
  border: 1px solid #c6c6c6;
  color: #c6c6c6 !important;
  border-radius: 2px;
}
